<div class="container">
  <div class="text-center mt-5">
      <h2>SIMULATION</h2>
    </div>

  <div class="row">
    <div class="col">
      <div class="card simulation">
        <h5 class="card-header">Vous pouvez faire votre estimation sur votre rendement locatif et votre déduction fiscale si vous louez votre bien par notre agence d'intermédiation sociale.</h5>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
    </div>

    <div class="slidecontainer">
      <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
    </div>

    <div id="demo"></div>


    </div>
</div>
</div>
