<div class="container">
  <div class="text-center mt-5">
      <h2>SIMULATION</h2>
    </div>


<div class="row">
  <div class="col">

  <div class="slidecontainer">
    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
  </div>

  <div id="demo"></div>


  </div>
</div>

</div>
