.status img {
  width: 27px;
}

.status {
  position: relative;
  bottom: 0px;
  left: 54px;
}

.status-owner {
  position: relative;
  bottom: 49px;
  left: 49px;
}

.status-owner img {
  width: 27px;
}

.validation {
  left: 87px;
  position: relative;
}

.validation:hover {
  cursor: pointer;
}

.valider:hover {
  color: green !important;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.valider {
  position: relative;
  top: 23px;
}

.count {
  width: 230px;
  padding: 8px 20px;
  box-shadow: -6px -6px 20px rgba(255, 255, 255, 1),
  6px 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: $gray;
  .text-center {
    font-family: $headers-font;
    color: $blue;
  }
}

.count .text-center {
  color:#fff;
  margin: 6px 0px;
  height: 15px;
  line-height: 0.7;
  font-weight: bold;
}

.count:hover {
  cursor: pointer;
  border-bottom: 3px solid $blue;
  border-left: 3px solid $blue;
}

.count.flats {
  width: 142px;
  h3 {
    margin-top: 8px;
  }
}

.count.flats:hover {
  cursor: pointer;
  border-bottom: 3px solid $blue;
  border-left: 3px solid $blue;
}
