<div class="footer">
  <div class="footer-link mt-3">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Equipe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Presse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Glossaire</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Mentions Légales</a>
      </li>
    </ul>
  </div>

  <div class="footer-logo">
    AIS Caritas @2020
  </div>
</div>
