<h4 class="text-center" style="font-size: 16px; color: #025D90; font-weight: : bold;"><%= flat.user.first_name.capitalize %> <%= flat.user.last_name.capitalize %></h4>
<p><%= flat.address %></p>
<%= link_to "Voir annonce", flat_path(flat), class: "text-decoration-none" %>
