<div class="container">
<div class="container-about">
  <div class="row">
    <div class="col-xs-6 mx-auto">
      <div class="title-about">
        <h1>QUI SOMMES NOUS</h1>
      </div>
    </div>
  </div>
  <div class="row banner-about">

  </div>

<div class="row">
  <div class="title-about-bis">
    <h3>Valeurs de solidarité et de lutte contre les exclusions</h3>

    <div class="container-card">

    <p>L’Agence Immobilière sociale Caritas est une structure crée au sein du Réseau Caritas, à l’initiative du Secours Catholique Caritas France.

Le Secours Catholique Caritas France (SCCF), dans ses délégations franciliennes, accompagne les personnes les plus fragiles, isolées, en situation de grande précarité.

Association « Loi 1901 » et Prestataire professionnelle agrée de l’immobilier, l’AIS Caritas opère tout d’abord comme organisme d’intermédiation et de gestion locative, agit comme acteur d’une location sociale et solidaire.

L’AIS Caritas s’inscrit dans la stratégie dite du « Logement d’Abord » et considère que par la stabilité qu’il apporte, le logement est une condition préalable et nécessaire à la réinsertion.

L’AIS Caritas propose un logement pérenne, à des ménages qui n’y ont pas accès aujourd’hui.

L’AIS Caritas détient les agréements nécessaires pour exercer son activité : carte professionnelle délivrée par la Chambre de Commerce d’Ile-de-France.

L’AIS Caritas offre donc les services d’un gestionnaire immobilier traditionnel, tout en s’inscrivant pleinement dans les valeurs de solidarité et de lutte contre les exclusions.

L’AIS Caritas est labelisé par la FAPIL (Fédération d’Associations pour la Promotion et l’Insertion par le Logement)</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates reprehenderit quam est ipsum  a voluptatum nemo minus animi quas consequatur molestias, aspernatur laboriosam ut, aliquid rerum quia, voluptatibus vitae mollitia quidem? Libero facere mollitia fuga unde eaque tempore nemo non voluptatibus pariatur, illum architecto cumque rem? Ab quasi nam, modi nemo. Nam, fuga id illum, consectetur veniam quam necessitatibus omnis nemo dolorum atque explicabo eius voluptate velit. Maxime magnam blanditiis, animi commodi error itaque reiciendis eius adipisci, sequi facere voluptas consectetur suscipit, exercitationem alias non natus. Natus, cum! Hic velit ab cupiditate molestias architecto modi dolorem odit, nobis, dolorum exercitationem. Itaque nostrum consequuntur in placeat obcaecati sunt, blanditiis nemo possimus, voluptatem aperiam eveniet, id labore quasi eos necessitatibus doloribus totam aliquam reprehenderit adipisci atque vitae ullam. Aperiam sit cumque maiores, optio voluptas voluptatem eligendi dolore eos fugit numquam doloremque at harum nemo sint corporis omnis amet dignissimos alias temporibus accusantium.</p>
  </div>

  </div>
</div>
</div>
</div>
