<div class="container">
  <div class="row">
    <div class="col-xs-6 mx-auto">
      <div class="title-about">
        <h1>QUI SOMMES NOUS</h1>
      </div>
    </div>
  </div>
  <div class="row banner-about">

  </div>

<div class="row">
  <div class="title-about-bis">
    <h3>Introduction sur l'agence. Historique</h3>

    <div class="container-card">

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam rem quis eligendi animi at molestiae consequuntur possimus, facere accusamus facilis maiores rerum error, quod dolor odio ullam, fugit earum laboriosam vero. Aliquid doloribus deleniti harum ex voluptas, possimus accusantium consequatur ab, ratione maxime aliquam, rerum amet iusto eaque vitae iure? Alias dolor nostrum, velit cum magni tempore adipisci eaque ex earum esse et odio odit recusandae accusamus quia iusto. Quae sit odit perferendis, debitis voluptate reprehenderit esse consequuntur doloribus adipisci blanditiis quo culpa fuga repellendus sapiente obcaecati minus facilis! Adipisci eum optio exercitationem et fuga nemo nobis, id aliquam! A, ab consequatur excepturi earum et temporibus minima fuga error soluta sequi, optio doloribus ex voluptates quisquam quam corrupti autem numquam. Nulla dolorum, odit porro magnam cumque quo eum fugiat aperiam, ipsam quis laborum officiis doloribus eveniet. Beatae excepturi velit earum sunt. Soluta dolorum sequi sit quidem laudantium facilis provident. Blanditiis.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates reprehenderit quam est ipsum  a voluptatum nemo minus animi quas consequatur molestias, aspernatur laboriosam ut, aliquid rerum quia, voluptatibus vitae mollitia quidem? Libero facere mollitia fuga unde eaque tempore nemo non voluptatibus pariatur, illum architecto cumque rem? Ab quasi nam, modi nemo. Nam, fuga id illum, consectetur veniam quam necessitatibus omnis nemo dolorum atque explicabo eius voluptate velit. Maxime magnam blanditiis, animi commodi error itaque reiciendis eius adipisci, sequi facere voluptas consectetur suscipit, exercitationem alias non natus. Natus, cum! Hic velit ab cupiditate molestias architecto modi dolorem odit, nobis, dolorum exercitationem. Itaque nostrum consequuntur in placeat obcaecati sunt, blanditiis nemo possimus, voluptatem aperiam eveniet, id labore quasi eos necessitatibus doloribus totam aliquam reprehenderit adipisci atque vitae ullam. Aperiam sit cumque maiores, optio voluptas voluptatem eligendi dolore eos fugit numquam doloremque at harum nemo sint corporis omnis amet dignissimos alias temporibus accusantium.</p>
  </div>

  </div>
</div>


</div>
