<div class="container">

    <div class="container-about">
        <div class="col-xs-6 mx-auto">
          <div class="title-about">
            <h2>QUI SOMMES NOUS</h2>
          </div>
        </div>
    </div>

  <div class="banner-about"></div>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="title-about-bis">
        <h2>L'agence</h2>
        </div>
          <p><strong>AIS</strong> est le diminutif d’<strong>Agence Immobilière Sociale</strong>. Il s’agit d’une structure au service des ménages les plus précaires rencontrant des difficultés à se loger dans le parc privé traditionnel. L’idée de créer une Agence Immobilière Sociale est née au sein des délégations franciliennes du <strong>SCCF</strong>. Cette agence est portée par ses deux membres fondateurs que sont l’ACSC et le SCCF. </p>

          <p>L’agence assure un rôle de gestion locative classique (comme une agence immobilière dite classique) mais également un suivi social dans la proximité du locataire. L’agence assure également un rôle de conseil auprès des propriétaires solidaires pour valoriser leur patrimoine.
          </p>

          <p>L’objectif est de démontrer la pertinence d’une politique de Logement d’Abord, c’est-à-dire démontrer que disposer d’un logement pérenne et de qualité est un préalable indispensable à l’insertion, et que cela coûte moins cher que de nombreux dispositifs d’hébergement.</p>

      </div>
    </div>
  </div>

  <div class="title-about-bis">
    <h2>Les Bénevoles</h2>
  </div>
  <div class="row">
    <div class="col-6">
    <%= image_tag "volunters.jpg", class: "img-about" %>
    </div>
    <div class="col-6 pb-5">
      <p>L’objectif est de démontrer la <strong>pertinence d’une politique de Logement d’Abord</strong>, c’est-à-dire démontrer que disposer d’un logement pérenne et de qualité est un préalable indispensable à l’insertion, et que cela coûte moins cher que de nombreux dispositifs d’hébergement.</p>

      <p>Les bénévoles du SCCF sont des spécialistes du lien et de l’<strong>accompagnement fraternel</strong>, ce qui est capital pour identifier des ménages pouvant rentrer dans l’expérimentation et les aider à s’installer dans le logement, le quartier éventuellement.</p>

      <p> Ils auront donc la responsabilité d’<strong>identifier les ménages</strong> au sein des délégations et de les accompagner socialement tout au long de l’expérimentation. Ils seront soutenus dans leur mission et formés à l’accompagnement dans le logement par des travailleurs sociaux salariés de l’AIS. Le rôle des bénévoles sera <strong>complémentaire</strong> à celui des travailleurs sociaux.</p>

    </div>

</div>


