<div class="row mt-5">
  <div class="col-8 offset-2">
    <div class="banner-home">
        <div class="banner-content">
          <h1>AIS CARITAS IDF</h1>
            <h2><span id="banner-typed-text"></span></h2>
        </div>
      </div>
  </div>
</div>

<div class="container homepage">
  <div class="row">
    <div class="col">
      <h2 class=title-home>L’Agence Immobilière Sociale CARITAS a pour vocation d’éveiller un engagement solidaire auprès des propriétaires sensibles aux problématiques de mal-logement. <br/>
      </h2>
    </div>
  </div>

  <div class="row card-group">
    <div class="col-xs-6 mx-auto">
      <div class="card home">
        <div class="icon">
          <img src="https://image.flaticon.com/icons/svg/821/821567.svg" alt="">
        </div>
      <div class="contentBx text-center mt-3">
        <h3>Gestion locative de proximité</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <%= link_to "En Savoir plus", owner_path, class: "nav-link" %>
      </div>
      </div>
    </div>

    <div class="col-xs-6 mx-auto">
      <div class="card">
        <div class="icon">
          <img src="https://image.flaticon.com/icons/svg/821/821564.svg" alt="">
        </div>
      <div class="contentBx text-center mt-3">
        <h3>Avantages Propriétaire</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <%= link_to "En Savoir plus", missions_path, class: "nav-link" %>
      </div>
      </div>
    </div>

    <div class="col-xs-6 mx-auto">
      <div class="card">
        <div class="icon">
          <img src="https://image.flaticon.com/icons/svg/822/822795.svg" alt="">
        </div>
      <div class="contentBx text-center mt-3">
        <h3>Accompagnement des ménages</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <a href="#"><span>En Savoir plus</span></a>
      </div>
      </div>
    </div>
  </div>
</div>

