<div class="row mt-5">
  <div class="col-8 offset-2">
    <div class="banner-home">
        <div class="banner-content">
           <%= image_tag "logo.JPG", class: "logo" %>
          <h1>AIS CARITAS IDF</h1>
            <p>Agence Immobilière à Vocation Sociale</p>
            <p>Ile-de-France</p>
        </div>
      </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h2 class=title-home>L’AIS CARITAS a pour vocation d’éveiller un engagement solidaire et fraternel auprès des propriétaires sensibles aux problématiques de mal-logement</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="card">
        <div class="icon">
          <img src="https://image.flaticon.com/icons/svg/1767/1767591.svg" alt="">
        </div>
      <div class="contentBx text-center mt-3">
        <h3>Gestion locative de proximité</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <a href="#"><span>En Savoir plus</span></a>
      </div>
      </div>
    </div>


    <div class="col-xs-6">
      <div class="card">
        <div class="icon">
          <img src="https://image.flaticon.com/icons/svg/1767/1767591.svg" alt="">
        </div>
      <div class="contentBx text-center mt-3">
        <h3>Gestion locative de proximité</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <a href="#"><span>En Savoir plus</span></a>
      </div>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="card">
        <div class="icon">
          <img src="https://image.flaticon.com/icons/svg/1767/1767591.svg" alt="">
        </div>
      <div class="contentBx text-center mt-3">
        <h3>Gestion locative de proximité</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <a href="#"><span>En Savoir plus</span></a>
      </div>
      </div>
    </div>
  </div>
</div>

