<div class="container">
  <div class="container-owner">
    <div class="row">
      <div class="col-xs-6 mx-auto">
        <div class="title-missions">
          <h2>NOS MISSIONS</h2>
          <h3>La gestion locative notre priorité</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="banner-missions text-center"></div>

 <div class="content-container">

    <div class="content" id="garanty">
       <h3>Garantie Loyer</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni quaerat omnis voluptates vero, incidunt aut molestias commodi ullam in minus dolore excepturi nemo recusandae qui libero voluptatum tenetur explicabo dolor animi impedit accusantium expedita. Minima consequuntur dicta in quibusdam tempore, rem ullam id maiores maxime quo commodi? Reiciendis voluptates cum, nam, totam mollitia iste culpa quisquam eius ipsum ab tempora error, necessitatibus excepturi? Laboriosam adipisci explicabo illo! Veritatis itaque atque voluptas praesentium, delectus voluptates dolorem. Placeat facere ducimus repellendus, sapiente eligendi possimus in praesentium adipisci similique, voluptas ipsam eos. Consequuntur rem, ipsa animi deserunt laborum aspernatur quia quam est mollitia!</p>
    </div>

    <div class="content" id="technic">
      <h3>Techniques</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, ipsum consequatur modi error itaque corporis laborum aut corrupti quasi, perspiciatis fugit explicabo quaerat quo quam sed, facere atque nobis distinctio voluptate voluptas. Laborum tenetur debitis molestiae sunt, vero reprehenderit, veniam deleniti vel aliquam blanditiis placeat odio sequi repellendus nobis recusandae quia animi vitae minima eaque iure neque ducimus. Maxime delectus labore sapiente, cum, in veniam quis dicta eius ea assumenda nihil vero optio dignissimos fugiat modi illo tempora debitis eaque ut autem quia officiis porro aliquid! Labore dolorum non excepturi, autem placeat consequuntur, nesciunt laboriosam aut odio explicabo ut consequatur?</p>
    </div>
</div>
