<div class="container">
  <div class="container-owner">
    <div class="row">
      <div class="col-xs-6 mx-auto">
        <div class="title-missions">
          <h2>NOS MISSIONS</h2>
          <h3>La gestion locative notre priorité</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="banner-missions text-center"></div>
