<div class="container">
  <div class="container-owner">
    <div class="row">
      <div class="col-xs-6 mx-auto">
        <div class="title-missions">
          <h2>NOS MISSIONS</h2>
          <h3>La gestion locative notre priorité</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="banner-missions text-center"></div>

 <div class="content-container">

<h3>Une Gestion de proximité,tranquillité et sérénité de gestion, relation constante avec le locataire et le propriétaire</h3>


<p>L’AIS CARITAS IDF s’engage à sécuriser le rapport locatif par :</p>

Une adaptation du logement aux besoins et ressources du locataire.
Identification des locataires par les délégations franciliennes du Secours Catholique et évaluation des besoins et des possibilités d’engagement du ménage par un travailleur social dédié.
Vérification de sa capacité financière et constitution du dossier de demande de logement (justificatifs d’identité et de revenus etc…)
un entretien du logement et un suive des travaux

roposer un logement décent aux ménages les plus fragiles, un suivi technique qui permet la pérennité de votre logement

accompagnement des ménages
</div>
