<div class="container owner">
  <div class="title-owner">
    <h1>L’AIS CARITAS a pour vocation d’éveiller un engagement solidaire et fraternel auprès des propriétaires sensibles aux problématiques de mal-logement</h1>
  </div>

  <div class="content-container">
    <div class="content" id="image-owner">
        <%= image_tag "owner.png", class: "owner-image"%>
    </div>
    <div class="content" id="avantages">
      <p> <li><strong>Vos avantages :</strong></li>
        <li>Sécurisation des risques locatifs (Impayés de loyer, dégradations, Vacance locative)</li>
        <li> Bénéficier jusqu’à 85% d’abattement sur vos revenus fonciers, de prime à la mise en location ainsi que d’aides pour la rénovation de votre bien</li>
        <li> Cautionnement VISALE</li>
        <li><strong>Louer son bien via notre agence :</strong></li>
        <li> Contribuer à faire une démarche utile et solidaire</li>
        <li> Permettre à des personnes aux revenus modestes d’être logées tout en étant accompagnées</li>
        <li> Aider le locataire à construire un projet d’insertion durable</li>
        <li><strong>Accompagnement global des locataires :</strong></li>
        <li> Visite à domicile</li>
        <li> Suivi social, soutien aux démarches administratives, accompagnement sur le budget domestique</li>
        <li> Veiller au respect du « savoir habiter » dans le logemen</li>
</p>
    </div>
    <div class="content" id="fiscality">
      <h3>Fiscalité</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum quia voluptates voluptatum, doloremque! Voluptas omnis nostrum et, ipsum perferendis maxime ut aperiam dolorum reiciendis qui, quo mollitia at fugit fugiat nesciunt sint veritatis provident? Sapiente, voluptatibus. Aliquid similique porro recusandae, consectetur ab eaque ipsa dolorum perspiciatis, nulla ex eos, sequi error reiciendis dolores est. Laudantium minima in quaerat numquam. At praesentium maxime facere. Maxime porro iste iusto et quisquam odit ad sint vel explicabo molestiae quo, odio sit consequatur. Optio dolor illo consequatur ratione assumenda, sint laboriosam dolorum nostrum! Possimus impedit in tenetur mollitia quibusdam quasi repudiandae sunt consectetur, non dignissimos. Quibusdam praesentium, autem vitae nemo, pariatur voluptate dolores. Est optio qui iusto, quia vero corrupti odit enim ipsa aspernatur nostrum. Eveniet possimus rerum quisquam quaerat perferendis, voluptatum quo aspernatur consectetur mollitia! Fugiat dolore laborum perferendis, officiis ea, rem eos suscipit eaque ad perspiciatis facere autem sed hic, quod sint.</p>
    </div>
    <div class="btn-owner">
      <%= submit_tag "Simulation", class: "our-button"%>
    </div>
  </div>
</div>
