<div class="container owner">
  <div class="title-owner">
    <h2>L’AIS CARITAS a pour vocation d’éveiller un engagement solidaire et fraternel auprès des propriétaires sensibles aux problématiques de mal-logement</h2>
  </div>

  <div class="content-container">
    <div class="content" id="image-owner">
        <%= image_tag "owner.png", class: "owner-image"%>
    </div>
    <div class="content" id="avantages">
      <p> <li><strong>Vos avantages :</strong></li>
        <li>Sécurisation des risques locatifs (Impayés de loyer, dégradations, Vacance locative)</li>
        <li> Bénéficier jusqu’à 85% d’abattement sur vos revenus fonciers, de prime à la mise en location ainsi que d’aides pour la rénovation de votre bien</li>
        <li> Cautionnement VISALE</li>
        <li><strong>Louer son bien via notre agence :</strong></li>
        <li> Contribuer à faire une démarche utile et solidaire</li>
        <li> Permettre à des personnes aux revenus modestes d’être logées tout en étant accompagnées</li>
        <li> Aider le locataire à construire un projet d’insertion durable</li>
        <li><strong>Accompagnement global des locataires :</strong></li>
        <li> Visite à domicile</li>
        <li> Suivi social, soutien aux démarches administratives, accompagnement sur le budget domestique</li>
        <li> Veiller au respect du « savoir habiter » dans le logement</li>
</p>
    </div>
    <div class="content" id="fiscality">
      <h3>Accompagner, Conseiller, Soutenir, Prévenir. Notre conviction : l’insertion par le logement. Disposer d’un chez-soi pour se reconstruire, se stabiliser, avec une véritable insertion sociale</h3>
      <p>Accompagnement des ménages tout au long du bail par le biais d’un travailleur social de l’AIS Caritas IDF et par un binôme de bénévoles accompagnant du Secours Catholique.
      Le travailleur social intervient au domicile et assure un suivi personnalisé variable en fonction des besoins repérés :
      <li>Soutenir le locataire dans la gestion budgétaire et administrative</li>
      <li>Assurer une bonne relation avec le voisinage et veiller au bien-vivre dans son logement</li>
     Le bénévole accompagnant a pour but l’autonomie du ménage dans les droits et obligations d’occupation du logement. Il vise à favoriser une occupation sereine de l’appartement et une insertion harmonieuse dans le quartier environnant :
     <li>Être présent lors de la visite de l’appartement</li>
     <li>Être au côté de la famille dans son installation</li>
    </p>
    </div>
    <div class="btn-owner">
      <%= submit_tag "Simulation", class: "our-button"%>
      <%= link_to 'Proposer', new_flat_path(@flat), class: 'our-button' %>
    </div>
  </div>
</div>
