<div class="owner">
  <div class="title-owner">
    <h1>DEVENEZ PROPRIETAIRE SOLIDAIRE</h1>
  </div>
  <div class="card-logo-owner">
    <a href=""></a>
  </div>
  <div class="card-text-owner">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam accusamus ex quisquam repellat reiciendis facilis repudiandae consequatur exercitationem eaque, facere!</p>
  </div>
  <div class="card-text-owner"></div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla harum assumenda, dignissimos deleniti, iusto laudantium minima nam exercitationem sint mollitia fugit expedita eaque maiores animi earum dolore alias delectus pariatur!</p>
  <div class="btn-owner">
  </div>
</div>
