<div class="owner">
  <div class="title-owner">
    <h1>DEVENEZ PROPRIETAIRE SOLIDAIRE</h1>
  </div>

  <div class="content-container">
    <div class="content" id="image-owner">
        <%= image_tag "owner.png", class: "owner-image"%>
    </div>
    <div class="content" id="avantages">
      <h3>Vos avantages</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore qui possimus doloremque, ex quis voluptatibus iste, libero animi laudantium voluptate autem laboriosam nihil magni eum eaque ipsa temporibus totam est! Minus vel et esse hic, temporibus earum deleniti, expedita dolores animi in pariatur, labore necessitatibus sequi laboriosam dicta facere sed quibusdam, voluptates ex vitae. Mollitia odio quo corporis dolorum voluptatibus. Nulla rem earum animi magni. Quae ipsa dolore repellendus, est molestias eum ullam similique maxime, totam quidem ex. Eum distinctio, pariatur modi. Quos consectetur quod sunt incidunt quia quasi corrupti veniam aspernatur similique maxime dicta porro, praesentium deserunt iure optio ut dolorem voluptatum ab molestiae deleniti accusamus perspiciatis odit, excepturi totam. Vel nihil voluptatum ipsum quam libero! Voluptate quia atque, officiis iusto qui facilis sunt nam fugiat delectus, libero voluptatum possimus incidunt vel tempore laborum explicabo corporis, ea architecto enim ad quod natus quis. Facere excepturi, distinctio aperiam iste enim.</p>
    </div>
    <div class="content" id="fiscality">
      <h3>Fiscalité</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum quia voluptates voluptatum, doloremque! Voluptas omnis nostrum et, ipsum perferendis maxime ut aperiam dolorum reiciendis qui, quo mollitia at fugit fugiat nesciunt sint veritatis provident? Sapiente, voluptatibus. Aliquid similique porro recusandae, consectetur ab eaque ipsa dolorum perspiciatis, nulla ex eos, sequi error reiciendis dolores est. Laudantium minima in quaerat numquam. At praesentium maxime facere. Maxime porro iste iusto et quisquam odit ad sint vel explicabo molestiae quo, odio sit consequatur. Optio dolor illo consequatur ratione assumenda, sint laboriosam dolorum nostrum! Possimus impedit in tenetur mollitia quibusdam quasi repudiandae sunt consectetur, non dignissimos. Quibusdam praesentium, autem vitae nemo, pariatur voluptate dolores. Est optio qui iusto, quia vero corrupti odit enim ipsa aspernatur nostrum. Eveniet possimus rerum quisquam quaerat perferendis, voluptatum quo aspernatur consectetur mollitia! Fugiat dolore laborum perferendis, officiis ea, rem eos suscipit eaque ad perspiciatis facere autem sed hic, quod sint.</p>
    </div>
  </div>
  <div class="btn-owner">
    <%= submit_tag "Simulation", class: "our-button"%>
  </div>
</div>
