<div class="container owner">
  <div class="title-owner">
    <h2>DEVENIR PROPRIETAIRE SOLIDAIRE</h2>
  </div>

  <div class="content-container">
    <div class="content" id="image-owner">
        <%= image_tag "owner.png", class: "owner-image"%>
    </div>
    <div class="content" id="avantages">
       <h3><strong>Vos avantages :</strong></h3>
        <li>Sécurisation des risques locatifs (Impayés de loyer, dégradations, Vacance locative)</li>
        <li> Bénéficier jusqu’à 85% d’abattement sur vos revenus fonciers, de prime à la mise en location ainsi que d’aides pour la rénovation de votre bien</li>
        <li> Cautionnement VISALE</li>
        <h3><strong>Louer son bien via notre agence :</strong></h3>
        <li> Contribuer à faire une démarche utile et solidaire</li>
        <li> Permettre à des personnes aux revenus modestes d’être logées tout en étant accompagnées</li>
        <li> Aider le locataire à construire un projet d’insertion durable</li>
    </div>

    <div class="content" id="fiscality">
      <h3><strong>Fiscalité</strong></h3>
      <li>Soutenir le locataire dans la gestion budgétaire et administrative</li>
      <li>Assurer une bonne relation avec le voisinage et veiller au bien-vivre dans son logement</li>
      <li>Le bénévole accompagnant a pour but l’autonomie du ménage dans les droits et obligations d’occupation du logement. Il vise à favoriser une occupation sereine de l’appartement et une insertion harmonieuse dans le quartier environnant :</li>
      <li>Être présent lors de la visite de l’appartement</li>
      <li>Être au côté de la famille dans son installation</li>
    </div>


    <div class="btn-owner">
      <!-- Button trigger modal -->
      <button type="button" class="btn our-button" data-toggle="modal" data-target="#exampleModalLong">
       Simulation
      </button>
      <%= link_to 'Proposer', new_flat_path(@flat), class: 'btn our-button' %>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Lancez votre simulation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="explain"><p>Faites une simulation sur votre rendement locatif et estimez votre déduction fisacle si vous louez par l'indermédiaire de notre agence.</p></div>

        <form class="range-field my-5">
          <label for="calculatorSlider1">Indiquez le nombre de m²</label>
          <input id="calculatorSlider1" class="no-border w-100" type="range" value="0" min="15" max="150" />
        </form>

        <form class="range-field my-5">
          <label for="calculatorSlider2">Indiquez le pourcentage souhaitez de déduction d'impôts</label>
          <input id="calculatorSlider2" class="no-border w-100" type="range" value="0" min="15" max="85" />
        </form>

        <div class="row">
          <div class="col">
            <h2><span class="badge blue lighten-2 mb-4">You earn</span></h2>
            <h2 class="display-4" style="color:#0d47a1"><strong id="resellerEarnings">75$</strong></h2>
          </div>

          <div class="col">
            <h2><span class="badge blue lighten-2 mb-4">Client pays</span></h2>
            <h2 class="display-4" style="color:#0d47a1"><strong id="clientPrice">319$</strong></h2>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary">Sauvegarder</button>
      </div>
    </div>
  </div>
</div>
