.banner-home {
  position: relative;
  height: 70vh;
  display: flex;
  background-image: image-url("background-home.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  h1 {
    font-family: $headers-font;
    color: $blue;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 6px;
  }
  h2 {
    color: $orange;
    font-size: 25px;;
    font-weight: bold;
  }
}

.banner-content {
  position: absolute;
  top: 110px;
  left: 25px;
}

.title-home {
  font-size: 20px;
  font-family: $headers-font;
  text-align: center;
  color: $blue;
}

.banner-about {
  height: 40vh !important;
  background-image: image-url("about.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.banner-owner {
  height: 60vh !important;
  background-image: image-url("owner.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.title-about h2 {
  color: $blue;
  font-family: $headers-font;
  font-size: 2rem;
}

.banner-missions {
  position: relative;
  height: 70vh;
  display: flex;
  background-image: image-url("mission.jpg");
  background-size: cover;
  background-position: center;
}

.banner-label {
  position: relative;
  height: 70vh;
  display: flex;
  background-image: image-url("label.jpg");
  background-size: cover;
  background-position: center;
}


/** MEDIA QUERIES **/
@media (max-width: 640px) {
  .banner-content h1 {
    font-size: 30px;
  }

  .banner-content h2 {
    font-size: 18px;
  }

}
