.banner-home {
  position: relative;
  height: 70vh;
  display: flex;
  background-image: image-url("background-home.jpg");
  background-size: cover;
  background-position: center;
  h1 {
    font-family: $headers-font;
    color: $blue;
    font-size: 50px;
    font-weight: bold;

  }
  p{
    color: $orange;
    font-size: 25px;;
    font-weight: bold;
    line-height: 12px
  }
}

.banner-content {
  margin: 16% 3%;
}

.logo {
  width: 100px;
  border-radius: 50%;
  position: absolute;
  bottom: 90%;
  left: 46%;
}

.title-home {
  font-size: 20px;
  font-family: $headers-font;
  text-align: center;
  color: $blue;
}

/** MEDIA QUERIES **/
@media (max-width: 640px) {
  .banner-content h1 {
    font-size: 30px;
  }

  .banner-content p {
    font-size: 16px;
  }

  .logo {
    width: 80px;
    left: 40%;
  }
}
