.card-flat {
  overflow: hidden;
  height: 130px;
  width: 490px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 30px;
  position: relative;
  border-radius: 8px;
}

.card-flat img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-flat h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-flat p {
  font-size: 14px;
  line-height: 1.2;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-flat .card-flat-infos {
  padding: 16px;
}

.icons {
  position: absolute;
  bottom: 8px;
  left: 345px;
}

.add {
  padding: 25px 20px;
  box-shadow: -6px -6px 20px rgba(255, 255, 255, 1),
  6px 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  .text-center {
    font-family: $headers-font;
    color: $blue;
  }
  a {
    text-decoration: none;
  }
}

.flats {
  margin-top: 20px;
  z-index: -1;
}

.add:hover {
  transform: scale(0.98);
}

.text-center h2 {
  color: $blue;
}

