.footer {
  background-color: $orange;
  height: 1p00x;
  padding: 0px 50px 0 50px;
  display: flex;
  align-items: center;
  color: $orange;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 2vh;
}

.nav-link{
  color: $blue;
  font-size: 16px;
}

.footer-link {
  color: $blue;
  padding-bottom: 40px;
}

.footer-logo {
 padding-top: 50px;
 color: $blue;
}

.content-wrapper {
  min-height: calc(100vh - 300px);
}

.nav-link:hover {
  color: #000;
}


