body .box{
  margin: 0;
  padding: 0;
  height: calc(100vh-140px);
  background-color: white;
}

.add-form {
  margin-top: 2vh;
}
.form {
  padding: 40px;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
  border-radius: 15px;
  font-color: black;
}



.form-control {
  background: transparent;
  display: flex;
  justify-content: space-evenly;
}

.submit-new {
  margin-bottom: 2vh;
}

.new-form-buttons {
  display: flex;
  flex-direction: column;
  text-align: center;
}


.add-title {
  margin: 7vh 0 0 7vh;
}

.box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: black;
  text-align: center;
}

.box h1 {
  color: black;
  text-align: center;
}

.box .form-group {
  position: relative;
}

.d-flex {
  width: 50%;
  padding: 2;
}
.black_text{
  color: black;

}
.box #user_email,
#user_password,
#user_first_name,
#user_last_name,
#user_password_confirmation {
  font-size: 18px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

label {
  font-size: 18px;
  color: $gray;
  pointer-events: none;
}

.box #user_email:focus,
#user_password:focus,
#user_first_name:focus,
#user_last_name:focus,
#user_password_confirmation:focus {
  border-bottom: #6c63ff solid 3px;
  outline: none;
  transition: all 0.6s ease;
}

.our-button {
  outline: none;
  color: #fff;
  background-color: $orange;
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
  border-radius: 8px;
  color: lightgrey !important;
  border: none !important;
  &:hover {
    background-color: $blue;
    color: black !important;
    border: none !important;
  }
}

.content-container .our-button {
  outline: none;
  color: #fff;
  background-color: $orange;
  padding: 20px 20px;
  // padding-right: 40px;
  // padding-left: 40px;
  cursor: pointer;
  border-radius: 8px;
  color: lightgrey !important;
  border: none !important;
  &:hover {
    background-color: $blue;
    color: black !important;
    border: none !important;
  }
}


