.navbar-ais {
  justify-content: space-between;
  background: white;
  background-color: $blue;
  position: sticky;
  top: 0;
  z-index: 200;
}

.navbar-ais .navbar-collapse {
  flex-grow: 0;
}

.navbar-ais .navbar-brand img {
  width: 110px;
  border-radius: 50%;
}

.navbar-light .navbar-nav .nav-link {
  color: $orange;
  font-size: 18px;
}


